node_modules/
dist/
build/
.DS_Store
Thumbs.db
*.log

.env
.env.*
!.env.example

.vscode/
.idea/

coverage/
.cache/
tmp/
temp/

frontend-basics/node_modules/
frontend-basics/ts-final-practice/node_modules/
ts-algo-18-sort-impl/node_modules/
ts-algo-18-sort-impl/src/node_modules/
ts-algo-18-sort-impl/src/ts-basic-arrays/node_modules/
ts-algo-19-recursion/ts-algo-20-recursion-impl/node_modules/
ts-algo-21-data-structures/node_modules/
